@charset "UTF-8";

/* -------------------------------------
 *
 * layout
 *
------------------------------------- */

/* -------------------------------------
 * page
------------------------------------- */
body {
  background: url(../img/bg.png);
}

.noize {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: url(../img/bg_noize01.png);
}

#wrapper {
}



/* -------------------------------------
 * header
------------------------------------- */
#header {
  clear: both;
  width: 100%;
  background-color: rgba(0, 0, 0, .9);
}
#headInner {
  width: $contentsWidth;
  margin: 0 auto;
  padding: 30px;
}
#header .hero {
  color: #fff;
  font-size: 24px;
  text-align: center;
}
#header .explain {
  margin: 20px 0 0;
  color: #fff;
  font-size: 16px;
  text-align: center;
}


/* -------------------------------------
 * main
------------------------------------- */
/* content */
#content {
  clear: both;
  width: 100%;
  padding: 50px;
  box-sizing: border-box;
}

/* main */
#main {
  width: 100%;
}



/* -------------------------------------
 * footer
------------------------------------- */
#footer {
  clear: both;
  width: 100%;
  background-color: rgba(255, 255, 255, .9);
}
#footInner {
  width: $contentsWidth;
  margin: 0 auto;
  padding: 30px;
}

/* copyright */
#copyright {
  display: block;
  text-align: center;
}